* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  background-color: dodgerblue;
}

#wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev, .next {
  font-size: 50px;
  margin: 0 15px;
}
.prev i, .next i {
  cursor: pointer;
  color: white;
}

.slide {
  height: 600px;
  width: 900px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 20px;
  border: 5px solid white;
}

.nav {
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.nav i {
  margin: 5px;
  padding: 5px;
}
.active {
  color: blue;
}
